<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klant</title>
    <link rel="stylesheet" href="../CSS/leveranciers_gebruikers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--https://www.w3schools.com/icons/tryit.asp?filename=tryicons_fa-sign-out-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head> 
<body>

    <form id="form_klanten">
        <h1 class="visible">Details</h1>
        <h1 class="hidden" id="titel">Klant aanpassen</h1>

        {{#with klant}}
        <div class="inputs">
            <div class="form_group">
                <label for="klantnr">Klantnummer:</label>
                <input type="text" id="klantnr" placeholder="123456" value="{{klantnr}}" disabled> <br>
            </div>
    
            <div class="form_group">
                <label for="voornaam">Voornaam:</label>
                <input type="text" id="voornaam" placeholder="XYZ" value=""{{naam}}" disabled"> <br>
            </div>

            <div class="form_group">
                <label for="Achternaam">Achternaam:</label>
                <input type="text" id="Achternaam" placeholder="XYZ" value="{{Achternaam}}" disabled> <br>
            </div>
    
            <div class="form_group">
                <label for="klantstraat">Straat:</label>
                <input type="text" id="klantstraat" placeholder="Straat naam" value="{{Straatnaam}}"> <br>
            </div>
    
            <div class="form_group">
                <label for="klanthuisnr">Huisnummer:</label>
                <input type="text" id="klanthuisnr" placeholder="12B" value="{{huisnr}}"> <br>
            </div>
    
            <div class="form_group">
                <label for="klantpostcode">Postcode:</label>
                <input type="text" id="klantpostcode" placeholder="1000" value="{{postcode}}"> <br>
            </div>
    
            <div class="form_group">
                <label for="klantgemeente">Gemeente:</label>
                <input type="text" id="klantgemeente" placeholder="Brussel" value="{{gemeente}}"> <br>
            </div>
    
            <div class="form_group">
                <label for="klanttelefoon">Telefoonnummer:</label>
                <input type="tel" id="klanttelefoon" placeholder="+32345678903" value="{{telefoonnr}}"> <br>
            </div>
    
            <div class="form_group">
                <label for="klantmail">E-mail adres:</label>
                <input type="email" id="klantmail" placeholder="johndoe@example.com" value="{{emailadres}}"> <br>
            </div>
    
             <div class="btns_details visible">
                <div class="modify_back_btns">
                    <a href="home_leveranciers.html" id="btn_back" class="btn_bottom">Back</a>
                    <button id="btn_modify" class="btn_bottom">Klant aanpassen</button>
                </div>
                <a href="/klant/verwijderen_leverancier?idnr={{levnr}}" id="btn_remove" class="btn_bottom">lant verwijderen</a>
            </div>

           <div class="btns hidden">
                <a href="#" id="cancelbtn" class="btn_bottom">Annuleren</a> <!-- Maak btn, let op css-->
                <input type="submit" id="submitbtn" value="Save" class="btn_bottom" disabled>
            </div>

            {{/with}}
        </div>
    </form>

    <script src="../JS/details_aanpassen.js"></script>
</body>
</html>